// brew install sass/sass/sass
// sass --watch sass/style.scss css/style.css

// Partials
@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";

// Modules
@import "_modules/home";

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
