@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin container-xl {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin container-max-xl {
  @media (max-width: 1440px) {
    @content;
  }
}
